// Body
//$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito",
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//$blue:    #007bff !default;
//$indigo:  #6610f2 !default;
//$purple:  #6f42c1 !default;
//$pink:    #e83e8c !default;
//$red:     #dc3545 !default;
//$orange:  #fd7e14 !default;
//$yellow:  #ffc107 !default;
//$green:   #28a745 !default;
//$teal:    #20c997 !default;
//$cyan:    #17a2b8 !default;

//$primary:       $blue !default;
//$secondary:     $gray-600 !default;
//$success:       $green !default;
//$info:          $cyan !default;
//$warning:       $yellow !default;
//$danger:        $red !default;
//$light:         $gray-100 !default;
//$dark:          $gray-800 !default;

$theme-colors: ("primary": #17a2b8, "info": #007bff);

$input-btn-padding-y: .75rem;
$input-btn-padding-x: 1.5rem;
$input-btn-font-family: null;


$input-btn-padding-y-sm: .25rem;
$input-btn-padding-x-sm: .5rem;

$input-btn-padding-y-lg: 1rem;
$input-btn-padding-x-lg: 2rem;

$nav-link-padding-y: 1rem;
$nav-link-padding-x: 2rem;

$dropdown-item-padding-y: .5rem;
$dropdown-item-padding-x: 2.5rem;

$pagination-padding-y: .75rem;
$pagination-padding-x: 1rem;
$pagination-padding-y-sm: .5rem;
$pagination-padding-x-sm: .75rem;
$pagination-padding-y-lg: 1rem;
$pagination-padding-x-lg: 2rem;
