// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

img {
    max-width: 100%;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@import '/css/pikaday.css';
@import '/css/iconfont.css';
@import '~simplemde/dist/simplemde.min.css';

.navbar-laravel .nav-link {
    padding: 0
}

#menu-nav {
	height: 88vh;
}

.iconfont {
    margin-right: .5rem;
}

.btn-sm>.iconfont {
    margin-right: 0;
}

.chart-md {
    position: relative;
    height: 30vh;
    width: 76vw;
}

@media screen and (max-width: 990px) {
    .chart-md {
        width: 92vw;
    }
}

